::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 20px;
}

//arrow on input type number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#app {
  background-color: whitesmoke;
}

.v-bottom-navigation {
  border-top: 1px solid lightgrey !important;
  max-width: 480px !important;
  left: unset !important;
}

.wrapper {
  width: 480px;
  margin: 0 auto;

  &--content {
    background-color: #fff;
    max-width: 480px;
    height: inherit;
    overflow-y: auto;
    position: relative;
  }
}

.topbar {
  
  &-default,
  &-search {
    max-width: 480px !important;
    position: fixed;
    z-index: 1;
    border-bottom: 1px solid lightgrey;
  }

  &-height {
    height: 72px;
  }
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.25s ease-out;
}

